<footer class="footer">

  <div class="first">
    <a [routerLink]="[ '/delivery' ]" class="btn-link">Доставка</a>
    <a [routerLink]="[ '/about' ]" class="btn-link">Про Томатіну</a>
  </div>

  <div class="contact">
    <div class="contact__wrapper">
      <div class="contact__info contact__info_1">
        <svg class="svg">
          <use class="svg__bg" href="../../../assets/images/icon_sprite_main.svg#bg"></use>
          <use class="svg__img" href="../../../assets/images/icon_sprite_main.svg#mark"></use>
        </svg>
        <div class="contact__inner">
          <div class="contact__adress">
            <b>м. Львів</b>
            <p>
              ТРЦ Victoria Gardens,
              <br>
              Кульпарківська 226 А
            </p>
            <p>ТРЦ Spartak, Мазепи 1Б</p>
            <p>ТРЦ Forum Lviv, Під Дубом 7Б</p>
          </div>
          <div class="contact__adress">
            <b>с. Сокільники</b>
            <p>ТРЦ King Cross, Стрийська 30</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact__wrapper">
      <div class="contact__info">
        <svg class="svg">
          <use class="svg__bg" href="../../../assets/images/icon_sprite_main.svg#bg"></use>
          <use class="svg__img" href="../../../assets/images/icon_sprite_main.svg#phone"></use>
        </svg>
        <button type="button"><b>+38 (067) 792 90 90</b></button>
      </div>
      <div class="contact__info">
        <svg class="svg">
          <use class="svg__bg" href="../../../assets/images/icon_sprite_main.svg#bg"></use>
          <use class="svg__img" href="../../../assets/images/icon_sprite_main.svg#clock"></use>
        </svg>
        <p>
          <b>Пн - Нд </b>
          з
          <b>09:00 </b>
          до
          <b>22:00</b>
        </p>

      </div>
    </div>
  </div>

  <div class="social">
    <span class="social__span">Слідкуй за нами</span>
    <a href="#">
      <svg class="svg svg_fb">
        <use class="svg__bg" href="../../../assets/images/icon_sprite_main.svg#bg"></use>
        <use class="svg__img" href="../../../assets/images/icon_sprite_main.svg#fb"></use>
      </svg>
    </a>
    <a href="#">
      <svg class="svg svg_inst" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 45">
        <defs>
          <linearGradient id="a" gradientTransform="rotate(90)">
            <stop offset="12.22%" stop-color="#505FD1" />
            <stop offset="35.67%" stop-color="#CF2D93" />
            <stop offset="61.16%" stop-color="#F66635" />
            <stop offset="85.56%" stop-color="#FED16E" />
          </linearGradient>
        </defs>
        <use class="svg__bg" href="../../../assets/images/icon_sprite_main.svg#bg"></use>
        <use class="svg__img" href="../../../assets/images/icon_sprite_main.svg#inst"></use>
      </svg>
    </a>
  </div>

  <div class="copyright">© 2023 Tomatina</div>

  <div class="payment">
    <span class="payment__span">
      <img src="../../../assets/images/payment1.svg" alt="MasterCard" class="payment__img">
    </span>
    <span class="payment__span">
      <img src="../../../assets/images/payment2.svg" alt="Visa" class="payment__img">
    </span>
  </div>

  <div class="signature">
    <a href="#" class="signature__link">
      <span class="signature__span">Створення сайтів</span>
      <img src="../../../assets/images/redstone.svg" alt="Створення сайтів" class="signature__img">
    </a>
  </div>

</footer>