<div class="container">

  <h1 class="title1">
    Наші
    <span class="green">контакти</span>
  </h1>

  <section class="section contact">

    <div class="contact__block">
      <h3 class="title6">ТРЦ "King Cross Leopolis"</h3>
      <div class="contact__info">
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#mark"></use>
        </svg>
        <p class="contact__text">
          с. Сокільники
          <br>
          <span class="contact__span">Стрийська, 30</span>
        </p>
        <svg class="contact__svg" width="20">
          <use href="../../../assets/images/icon_sprite_contacts.svg#email"></use>
        </svg>
        <p class="contact__text">service@tomatina.ua</p>
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#phone"></use>
        </svg>
        <p class="contact__text">+38 (096) 195 03 87</p>
        <svg class="contact__svg" width="18">
          <use href="../../../assets/images/icon_sprite_contacts.svg#clock"></use>
        </svg>
        <p class="contact__text">Пн - Нд з 10:00 до 21:00</p>
      </div>
    </div>

    <div class="contact__block">
      <h3 class="title6">ТРЦ "Victoria Gardens"</h3>
      <div class="contact__info">
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#mark"></use>
        </svg>
        <p class="contact__text">
          м. Львів
          <br>
          <span class="contact__span">Кульпарківська, 226 А</span>
        </p>
        <svg class="contact__svg" width="20">
          <use href="../../../assets/images/icon_sprite_contacts.svg#email"></use>
        </svg>
        <p class="contact__text">service@tomatina.ua</p>
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#phone"></use>
        </svg>
        <p class="contact__text">+38 (067) 109 51 91</p>
        <svg class="contact__svg" width="18">
          <use href="../../../assets/images/icon_sprite_contacts.svg#clock"></use>
        </svg>
        <p class="contact__text">Пн - Нд з 09:00 до 22:00</p>
      </div>
    </div>

    <div class="contact__block">
      <h3 class="title6">СТРЦ "Spartak"</h3>
      <div class="contact__info">
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#mark"></use>
        </svg>
        <p class="contact__text">
          м. Львів
          <br>
          <span class="contact__span">Мазепи, 1Б</span>
        </p>
        <svg class="contact__svg" width="20">
          <use href="../../../assets/images/icon_sprite_contacts.svg#email"></use>
        </svg>
        <p class="contact__text">service@tomatina.ua</p>
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#phone"></use>
        </svg>
        <p class="contact__text">+38 (067) 884 46 85</p>
        <svg class="contact__svg" width="18">
          <use href="../../../assets/images/icon_sprite_contacts.svg#clock"></use>
        </svg>
        <p class="contact__text">Пн - Нд з 10:00 до 22:00</p>
      </div>
    </div>

    <div class="contact__block">
      <h3 class="title6">ТРЦ "Forum Lviv"</h3>
      <div class="contact__info">
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#mark"></use>
        </svg>
        <p class="contact__text">
          м. Львів
          <br>
          <span class="contact__span">Під Дубом, 7Б</span>
        </p>
        <svg class="contact__svg" width="20">
          <use href="../../../assets/images/icon_sprite_contacts.svg#email"></use>
        </svg>
        <p class="contact__text">service@tomatina.ua</p>
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#phone"></use>
        </svg>
        <p class="contact__text">+38 (067) 277 06 02</p>
        <svg class="contact__svg" width="18">
          <use href="../../../assets/images/icon_sprite_contacts.svg#clock"></use>
        </svg>
        <p class="contact__text">Пн - Нд з 10:00 до 21:00</p>
      </div>
    </div>

    <div class="contact__block">
      <h3 class="title6">Комерційний відділ</h3>
      <div class="contact__info">
        <svg class="contact__svg" width="20">
          <use href="../../../assets/images/icon_sprite_contacts.svg#email"></use>
        </svg>
        <p class="contact__text">commerce@tomatina.ua</p>
        <svg class="contact__svg" width="13">
          <use href="../../../assets/images/icon_sprite_contacts.svg#phone"></use>
        </svg>
        <p class="contact__text">+38 (096) 469 90 83</p>
        <svg class="contact__svg" width="18">
          <use href="../../../assets/images/icon_sprite_contacts.svg#clock"></use>
        </svg>
        <p class="contact__text">Пн - Пт з 09:00 до 18:00</p>
      </div>
    </div>

  </section>

  <section class="section two">
    <div class="write">
      <h2 class="title4">У вас виникли запитання? Напишіть нам!</h2>
      <form class="form">
        <div class="form__row">
          <input type="text" class="input" placeholder="*Ваше ім'я">
          <input type="text" class="input" placeholder="*Ваше прізвище">
        </div>
        <div class="form__row">
          <input type="tel" class="input" placeholder="*Ваш телефон" value="+380">
          <input type="email" class="input" placeholder="*Ваш email">
        </div>
        <textarea cols="30" rows="10" class="input textarea"></textarea>
        <button class="btn-green" type="button">Надіслати</button>
      </form>
    </div>

    <div class="map">
      <img src="../../../assets/images/map2.jpg" alt="Мапа Львова" class="map__img">
    </div>
  </section>

</div>