<div class="container">

  <h1 class="title1">
    Про
    <span class="green">tomatina</span>
  </h1>

  <section class="section about">
    <div>
      <h2 class="title4">tomatina</h2>
      <p class="paragraph">
        Ресторан здорового харчування Tomatina - це не лише свіжі ідеї від наших бренд-кухарів, а й ситні, корисні та
        вітамінні страви, які ви маєте змогу створити особисто.І не важливо чи ви надаєте перевагу веганській,
        вегетаріанській чи м’ясній кухні - у нашому меню ви завжди знайдете ідеальний для себе варіант. І головне - всі
        наші страви готуються виключно зі свіжих фермерських продуктів та за принципами здорового харчування.
      </p>
    </div>
    <div class="about__picture">
      <img src="../../../assets/images/pattern_about1.jpg" alt="Свіжі продукти" class="about__img">
    </div>
    <div class="about__picture">
      <img src="../../../assets/images/pattern_about2.jpg" alt="Свіжі продукти" class="about__img">
    </div>
    <div>
      <h2 class="title4">Створи свій авторський салат</h2>
      <p class="paragraph">
        Окрім супів, сендвічів, десертів чи оригінальних напоїв ми пропонуємо наші основні хіти - це салат-паста та
        конструктор. Це значить, що у нашому гастробарі можна обрати як вже готовий мікс від шеф-кухаря так і створити
        особисто, виходячи з власних уподобань, і витратити на це не більше як 5 хвилин часу.Салат-бар Tomatina
        нараховує близько 50 компонентів та понад 15 соусів, з яких створюються індивідуальні страви на будь-який смак.
        Ви просто обираєте улюблені інгредієнти і за кілька кліків ваш авторський варіант готовий.І якщо ви ще не
        куштували салат-пасту, рекомендуємо обов’язково спробувати цю нашу фірмову страву з італійським характером.
      </p>
    </div>
  </section>

  <section class="section why">
    <h2 class="title4">
      Чому люблять TOMATINA?
    </h2>
    <div class="why__wrapper">
      <div class="why__block">
        <svg class="why__svg">
          <use href="../../../assets/images/about_why_sprite.svg#bg"></use>
          <use href="../../../assets/images/about_why_sprite.svg#one"></use>
        </svg>
        <div class="why__text">
          <h3 class="title6">Тільки свіжі продукти</h3>
          <p class="paragraph">Рибка тільки-но з моря, салат з грядки, курка з ферми. Нічого не заморожуємо!</p>
        </div>
      </div>
      <div class="why__block">
        <svg class="why__svg">
          <use href="../../../assets/images/about_why_sprite.svg#bg"></use>
          <use href="../../../assets/images/about_why_sprite.svg#two"></use>
        </svg>
        <div class="why__text">
          <h3 class="title6">Оригінальні рецепти</h3>
          <p class="paragraph">Окрім перевірених часом шедеврів у меню є багато несподіванок</p>
        </div>
      </div>
      <div class="why__block">
        <svg class="why__svg">
          <use href="../../../assets/images/about_why_sprite.svg#bg"></use>
          <use href="../../../assets/images/about_why_sprite.svg#three"></use>
        </svg>
        <div class="why__text">
          <h3 class="title6">Якісні інгредієнти</h3>
          <p class="paragraph">Всі інгредієнти проходять відповідний контроль якості та сертифікації. Такі правила!</p>
        </div>
      </div>
      <div class="why__block">
        <svg class="why__svg">
          <use href="../../../assets/images/about_why_sprite.svg#bg"></use>
          <use href="../../../assets/images/about_why_sprite.svg#four"></use>
        </svg>
        <div class="why__text">
          <h3 class="title6">Доставляємо всюди</h3>
          <p class="paragraph">Привозимо смачну та корисну їжу у будь-який район Львова та у передмістя!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section video">
    <div class="video__window">
      <iframe class="video__iframe" src="https://www.youtube.com/embed/Lf-IKGReGSo" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </section>

</div>