@import 'src/app/shared/styles/variables';
@import 'src/app/shared/styles/mixins';

.section {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 80px;

  @include screen-1024 {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .title4 {
    margin-bottom: 15px;
    font-weight: 500;
  }

  .paragraph {
    font-size: 18px;

    @include screen-1280 {
      font-size: 16px;
    }

    @include screen-480 {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__picture {
    justify-self: center;
    width: 425px;
    height: 404px;

    @include screen-1280 {
      width: 370px;
      height: 352px;
    }

    @include screen-1024 {
      display: none;
    }
  }

  &__img {
    width: 100%;
  }
}

.why {
  .title4 {
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;

    @include screen-768 {
      row-gap: 30px;
    }
  }

  &__block {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 15px;

    @include screen-1280 {
      width: 48%;
    }

    @include screen-768 {
      width: 100%;
      flex-direction: row;
    }

    @include screen-480 {
      gap: 10px;
    }
  }

  &__svg {
    width: 116px;
    height: 109px;

    @include screen-768 {
      width: 100px;
      height: 94px;
    }

    @include screen-600 {
      width: 18vw;
      height: 16vw;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;

    @include screen-768 {
      width: 80vw;
      align-items: start;
    }
  }

  .paragraph {
    max-width: 320px;
    line-height: 1.5em;
    text-align: center;

    @include screen-768 {
      text-align: left;
      max-width: 450px;
    }
  }
}

.video {
  &__window {
    width: 1128px;
    height: 615px;
    margin: 0 auto;

    @include screen-1280 {
      width: 770px;
      height: 450px;
    }

    @include screen-1024 {
      width: 100%;
      height: 50vw;
    }

    @include screen-768 {
      height: 48vw;
    }
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}