@font-face {
  font-family: 'Geometria';
  src: url('../../../assets/fonts/Geometria.woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../../assets/fonts/Geometria-Medium.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../../assets/fonts/Geometria-Bold.woff');
  font-style: normal;
  font-weight: 700;
}