$green: #599921;
$green2: #518B26;
// $green3: #4a8b2c;;
$yellow: #FFCC00;
$yellow2: #FFAF00;
$red: #EF2F3D;
$red2: #DB2526;
$white: #FFF;
$milk: #F5F5F5;
$dark-green: #34681d;
$bg-gray: rgba(255,255,255,.45);

$text-bold: #2D2C2C;
$text-normal: #6D6D6D;

$border1: #ECECEC;
$border: #E9E9E9;
$border-select: #DDD;
$checkbox: #5c5752;
$fb: #255A9C;
$inst: url(#a);
$overlay: rgba(0,0,0,.4);

// ---------- for testing -----------

$test-p: pink;
$test-b: blue;
$test-v: violet;
$test-bi: bisque;
$test-lg: lightgreen;
