<div class="banner"></div>

<h1 class="title1">
  Наше
  <span class="green">меню</span>
</h1>

<div class="product">
  <app-product></app-product>
</div>

<section class="seo">
  <div class="row">
    <div class="row__inner">
      <p class="green">Tomatina</p>
      <h2 class="title2">Tomatina — доставка здорової їжі у Львові, яка завжди поруч</h2>
      <p class="paragraph">Хто сказав, що доставка їжі — це лише піца та суші? Tomatina поспішає зруйнувати всі
        стереотипи. Наші шефи знають, як готувати водночас смачні й корисні страви. А кур'єри — як доставити ваше
        замовлення у будь-який куточок міста дуже швидко. Тож запрошуємо поринути у світ корисних страв разом з
        рестораном здорового харчування Томатіна!</p>
    </div>
    <img src="../../../assets/images/pattern.png" alt="Tomatina" class="row__img">
  </div>
  <details class="details">
    <summary class="details__summary" (click)="toggleDetails()">
      {{ !detailsIsOpen ? 'Читати більше' : 'Згорнути' }}
    </summary>
    <h3 class="title3">Tomatina — меню для тих, хто цінує баланс користі та смаку</h3>
    <p class="paragraph">У ритмі сучасного життя у Львові іноді не вистачає часу на те, щоб подбати про здоровий обід.
      Але ми беремо це завдання на себе. Усе, що залишилося вам — це обрати страви з меню. Доставка здорової їжі у
      Львові подбає про те, щоб ви отримали замовлення вчасно. Кожну позицію шеф-кухарі у Львові розробляли з турботою
      орієнтуючись на відгуки та побажання гостей.</p>
    <h4 class="title4">Салати</h4>
    <p class="paragraph">Мабуть, найулюбленіша страва серед усіх варіантів здорового харчування. Багато зелені, свіжих
      овочів та морепродуктів, авторські заправки від шефів. - встояти неможливо. Меню для вас містить унікальні позиції
      салатів:</p>
    <ul class="ul">
      <li class="ul__li">Салат Лосось Гуакамоле — вдале поєднання міксу салату, лосося, гуакамоле, огірка, чері,
        пармезану, міксу насіння та кунжуту, мікрогріну, лайму та крутонів, приправлене соусом Грін.</li>
      <li class="ul__li">Салат Манзо Гриль — з міксом салатного листя, яловичою вирізкою, помідорами, маринованою
        цибулею, сухариками та гострим червоним перцем. Доповнює смак перцевий соус, тож ця страва — доволі пікантна.
      </li>
      <li class="ul__li">Салат Тоскана Гриль — мікс салату, помідори, куряче філе, сир фета у травах, овочі гриль
        (баклажани, перець, кабачок). Особливий смак страви гарантує лимонно-гірчична заправка.</li>
    </ul>
    <p class="paragraph">До кожного салату ви можете додати складники: ще більше лосося, сиру чи улюбленого соусу.</p>
    <h4 class="title4">Салати пасти</h4>
    <p class="paragraph">Не знаєте, що обрати сьогодні: салат чи пасту? Доставка їжі у Львові з ресторану здорового
      харчування Томатіна має для вас дещо особливе. Наші салат-пасти — це тандем лінгвіні, спагеті або фарфале з
      салатним міксом, морепродуктами та м'ясом.</p>
    <p class="paragraph">Салати пасти Томатіна, які вам сподобаються:</p>
    <ul class="ul">
      <li class="ul__li">Салат-паста Курка Шпинат — лінгвіні з куркою, грибним соусом, трюфельною пастою, салатним
        міксом, морквою, гливами, спаржевою квасолею, шпинатом, помідорами, міксом кунжуту та арахісу, вершковим соусом.
      </li>
      <li class="ul__li">Салат-паста Крімі — пенне з салатним міксом, гливами, креветками, вершковим соусом, помідорами,
        міксом кунжуту, мікрогріном, пармезаном та часниковим соусом.</li>
      <li class="ul__li">Салат-паста Норд — лінгвіні з лососем та шпинатом, бобами едамаме, печерицями, спаржевою
        квасолею, томатами чері, салатним міксом, арахісом, мікрогріном, міксом кунжуту, паприкою, лаймом. Смак страви
        доповнений грибним соусом та трюфельною пастою.</li>
    </ul>
    <p class="paragraph">Салат-пасти Томатіна — це чудовий вибір для ситного обіду або смачної вечері. Спробуйте, і ви
      будете у захваті!</p>
    <h4 class="title4">Супи</h4>
    <p class="paragraph">Ситні, смачні та корисні. Як основна чи перша страва, вони смакують просто чудово. Рекомендуємо
      спробувати наші улюблені:</p>
    <ul class="ul">
      <li class="ul__li">Вершковий суп з лососем, мікрогріном та шматочками паприки.</li>
      <li class="ul__li">Крем-суп Капучино з печерицями та пармезаном, вершками, мікрозеленню.</li>
    </ul>
    <p class="paragraph">Супи ми завжди привозимо ще гарячими. Тож ви зможете сповна оцінити смак та аромат цієї страви.
    </p>
    <h4 class="title4">Сніданки</h4>
    <p class="paragraph">Кожного дня до 18:00 ми пригощаємо смачними сніданками, приготованими зі здорових інгредієнтів.
      Починайте свій день смачно, замовивши:</p>
    <ul class="ul">
      <li class="ul__li">шпинатний омлет з лососем та страчателлою;</li>
      <li class="ul__li">сирники з карамеллю та арахісом</li>
      <li class="ul__li">яєчню скрембл з прошутто та моцарелою.</li>
    </ul>
    <p class="paragraph">…й багато інших смачних сніданків від шеф-кухарів Tomatina. Тож не витрачайте час на
      приготування здорового харчування зранку: довірте цю страву нам.</p>
    <h4 class="title4">Фіт сендвічі</h4>
    <p class="paragraph">Як звичайний сендвіч, але трохи корисніше. Нічого зайвого — лише свіже паніні та смачна
      начинка. Ми готуємо фіт сендвічі з лососем, яловичиною, куркою. А ще — маємо вегетаріанський сендвіч “Вега Гриль”
      — для тих, хто не вживає м'яса та риби.</p>
    <h4 class="title4">Меню для вегетаріанців</h4>
    <p class="paragraph">Ми врахували побажання гостей, тож доставка здорової їжі Львів Tomatina пропонує також страви
      без м'яса та риби. До прикладу, Ви можете скуштувати вегетаріанський салат Вега. У його складі — мікс зелені,
      спаржева квасоля, перець, кабачок, бебі кукурудза, картопля гриль, свіжі чері, мікрогрін та боби едамаме під
      Тайським соусом.</p>
    <h4 class="title4">Напої</h4>
    <p class="paragraph">Ті, які найкраще підкреслюють смак улюблених страв і допомагають втамувати спрагу.</p>
    <p class="paragraph">Зокрема:</p>
    <ul class="ul">
      <li class="ul__li">Фреші — морквяний, апельсиновий, яблучний або грейпфрутовий.</li>
      <li class="ul__li">Авторські напої з ягід та фруктів — швепі, ягідний, манго-ананас, обліпиха-апельсин.</li>
      <li class="ul__li">Негазована мінеральна вода.</li>
    </ul>
    <p class="paragraph">Напої привозимо у зручних герметичних пляшечках. Збереження смаку та аромату гарантовано!</p>
    <h3 class="title3">Для кого передбачена доставка здорового харчування?</h3>
    <p class="paragraph">Наша доставка здорової їжі у Львові працює для всіх, хто дбає про правильний раціон та любить
      смачно поїсти. У нас є харчування на будь-який смак: для вегетаріанців та м'ясоїдів, фанатів пасти чи
      поціновувачів салатів. А також для тих, хто полюбляє морепродукти, багато зелені, смачні авторські соуси та напої.
    </p>
    <p class="paragraph">Ми впевнені, доставка здорового харчування доречна кожного дня: і в будні, і у свята. Вам
      вдасться замовити наше меню на обід в офісі, навіть якщо у вас завантажений графік. Або додому - якщо сьогодні
      саме той день, коли не хочеться витрачати час біля плити. Чи тоді, коли несподівано завітали гості.</p>
    <h3 class="title3">Доставка з Томатіни — корисно, швидко та зручно</h3>
    <p class="paragraph">Замовити додому або в офіс доставку правильного харчування і дієтичної їжі ще ніколи не було
      так просто. Обирайте здорові страви на сайті, додавайте їх у кошик та забирайте біля дверей вашої квартири! Ми
      приготуємо їжу з добірних інгредієнтів, і подбаємо про те, щоб ви отримали замовлення якомога швидше.</p>
    <h4 class="title4">Сервіс доставки здорової їжі — це:</h4>
    <ul class="ul">
      <li class="ul__li">Здорові та смачні страви. Створюючи наше меню для вас, ми подбали про те, щоб воно було
        збалансованим. Салати, супи, боули та фіт сендвічі — кожен зможе обрати їжу до смаку.</li>
      <li class="ul__li">Доставка по Львову за 39-65 хвилин. Страви приїдуть до вас свіжими, гарячими й ароматними.
        Перевірити швидкість отримання замовлення у вашій зоні можна на інтерактивній карті.</li>
      <li class="ul__li">Зручна оплата — через систему LiqPay на сайті, карткою або готівкою кур'єру.</li>
      <li class="ul__li">Є самовивіз — ви можете забрати замовлення самостійно із ресторану поряд з вашим домом.</li>
    </ul>
    <p class="paragraph">Замовлення на суму від 250 грн ми доставляємо безкоштовно. Тож якщо ви просто зараз зголодніли,
      ресторан Томатіна у Львові з радістю приготує смачні страви для вас. Обирайте, замовляйте, смакуйте!</p>
  </details>
</section>