<div class="div">
  <h2 class="title6">
    Зміна паролю
  </h2>
  
  <form
    class="form"
    [formGroup]="passwordForm"
  >
    <input
      type="password"
      class="input"
      placeholder="*Ваш поточний пароль"
      formControlName="oldPassword"
    >
    <input
      type="password"
      class="input"
      placeholder="*Новий пароль"
      formControlName="newPassword"
    >
    <input
      type="password"
      class="input"
      placeholder="*Повторіть пароль"
      formControlName="confirmPassword"
    >
  </form>
  
  <div class="row">
    <button class="btn-white">Скасувати</button>
    <button class="btn-green">Зберегти зміни</button>
  </div>
</div>
