<div class="container">

  <h1 class="title1">
    Доставка та
    <span class="green">оплата</span>
  </h1>

  <section class="section delivery">
    <div class="zone">

      <div class="zone__block">
        <svg class="zone__svg">
          <use href="../../../assets/images/bike.svg#bike" class="zone__use_green"></use>
        </svg>
        <div>
          <h2 class="zone__title2 green">Зелена зона</h2>
          <ul class="ul">
            <li class="ul__li">
              Орієнтовний час доставки
              <span class="green">39 хвилин</span>
            </li>
            <li class="ul__li">
              При замовленні від
              <span class="green">250 грн </span>
              привеземо
              <span class="green">БЕЗКОШТОВНО</span>
            </li>
            <li class="ul__li">
              При замовленні до
              <span class="green">250 грн </span>
              вартість доставки
              <span class="green">60 грн</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="zone__block">
        <svg class="zone__svg">
          <use href="../../../assets/images/bike.svg#bike" class="zone__use_yellow"></use>
        </svg>
        <div>
          <h2 class="zone__title2 yellow">Жовта зона</h2>
          <ul class="ul">
            <li class="ul__li ul__li_yellow">
              Орієнтовний час доставки
              <span class="yellow">55 хвилин</span>
            </li>
            <li class="ul__li ul__li_yellow">
              При замовленні від
              <span class="yellow">250 грн </span>
              привеземо
              <span class="yellow">БЕЗКОШТОВНО</span>
            </li>
            <li class="ul__li ul__li_yellow">
              При замовленні до
              <span class="yellow">250 грн </span>
              вартість доставки
              <span class="yellow">60 грн</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="zone__block">
        <svg class="zone__svg">
          <use href="../../../assets/images/bike.svg#bike" class="zone__use_red"></use>
        </svg>
        <div>
          <h2 class="zone__title2 red">Червона зона</h2>
          <ul class="ul">
            <li class="ul__li ul__li_red">
              Орієнтовний час доставки
              <span class="red">65 хвилин</span>
            </li>
            <li class="ul__li ul__li_red">
              Мінімальне замовлення
              <span class="red">350 грн </span>
              вартість доставки
              <span class="red">90 грн</span>
            </li>
            <li class="ul__li ul__li_red">
              При замовленні від
              <span class="red">500 грн </span>
              привеземо
              <span class="red">БЕЗКОШТОВНО</span>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="map">
      <img src="../../../assets/images/map1.jpg" alt="Мапа Львова" class="map__img">
    </div>
  </section>

  <section class="section payment">
    <h2 class="title1">Оплата</h2>
    <div class="payment__wrapper">

      <div class="payment__block">
        <img src="../../../assets/images/pay_page_one.svg" alt="Оплата LiqPay" class="payment__img">
        <div>
          <h3 class="title5">Оплата LiqPay</h3>
          <p class="payment__p">
            Розраховуйся онлайн за своє замовлення через сервіс LiqPay на сайті
          </p>
        </div>
      </div>

      <div class="payment__block">
        <img src="../../../assets/images/pay_page_two.svg" alt="Оплата карткою" class="payment__img">
        <div>
          <h3 class="title5">Оплата карткою</h3>
          <p class="payment__p">
            Наш кур'єр має з собою термінал та приймає карту для оплати
          </p>
        </div>
      </div>

      <div class="payment__block">
        <img src="../../../assets/images/pay_page_three.svg" alt="Оплата готівкою" class="payment__img">
        <div>
          <h3 class="title5">Оплата готівкою</h3>
          <p class="payment__p">Сплачуй готівкою при отриманні замовлення, попередь якщо потрібна решта
          </p>
        </div>
      </div>

    </div>
  </section>

</div>